<h3 id="post-comment-header">Post a Comment</h3>

  <%= form_for [ @user, @post, @comment ], html: {method: "post" }, html: { multipart: true } do |f| %>

  <%#= image_tag (current_user) ? (current_user.image.url(:thumb)): @comment.image.url %>
  <%# if @user.image.exists? %>
    <%## end %>
  <%#= f.label :image, "Attach an Image" %><br>
  <%#= f.file_field :image %>
    <p id="comment-author-label">
      <%= f.label :content, current_user ? ("@#{current_user.username}:") : "Guest:" %><br>
      <%= f.text_area :content %>
    </p>
    <p>
      <%= f.submit "Submit" %>
    </p>

  <% end %>
