<h3>Post a Comment</h3>

  <%= form_for [ @user, @city, @post, @comment ], html: {method: "post"} do |f| %>

  
    <p>
      <%= f.label :content, "@#{current_user.username}:" %><br>
      <%= f.text_area :content %>
    </p>
    <p>
      <%= f.submit "Submit" %>
    </p>

  <% end %>
