<div class="post-title">
  <%= "#{@post.title}" %>
</div>

<div class="post-body">
  <%= "#{@post.body}" %>
</div>

<%= link_to "delete", user_post_path, method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
